.pageContainer {
	top: 0;
	bottom: 0;
	right: 10px;
	left: 10px;
	position: absolute;
}

.pageHeader,.pageContent,.pageFooter {
	border: 0 none;
	display: block;
	position: absolute;
	left: 0;
	right: 0;
}

.pageHeader {
	color:#fff;
	padding: 5px 0;
	top: 0;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

.pageHeader h1 {
	overflow: hidden;
}

.pageHeader ul {
	float:right;
	text-align:right;
}


.pageHeader ul li {
	display:inline-block;
	padding:0 0 0 10px;
}

.pageHeader ul a {
	color:#888;
	text-decoration:none;
	font-size:.75em;
}

.pageHeader ul a:hover {
	color:#ccc;
}

.headerForm {
	overflow: hidden;
	text-align: right;
}

.pageContent {
	position: absolute;
	left: 0;
	right: 0;
	top: 40px;
	bottom: 0;
	margin: 10px 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.pageContentNavigation,.pageContentContent {
	position: absolute;
	top: 0;
	bottom: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.pageContentNavigation {
	background: url(images/bg.png) 0 0 repeat scroll #60B3F1;
	width: 240px;
}

.pageContentContent {
	background:#fefefe;
	overflow : hidden;
	bottom: 0;
	top: 0;
	right: 0;
	left: 250px;
	overflow: hidden;
}

.pageContentNavigation ul {
	list-style: none;
}

.pageContentNavigation>ul>li>a {
	background: #2686D2;
	display: block;
	border-top: 1px solid #7CBDEE;
	border-bottom: 1px solid #257EC4;
	padding: 10px;
	color: #dfdfdf;
	font-weight: 600;
	text-decoration: none;
}

.pageContentNavigation>ul>li>a:hover {
	color:#fff;
}

.pageContentNavigation>ul>li:first-child>a {
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.pageContentNavigation>ul>li:last-child>a {
	-webkit-border-radius:0 0 4px 4px;
	-moz-border-radius:0 0 4px 4px;
	border-radius:0 0 4px 4px;
}

.pageContentNavigation>ul>li.expanded>a {
	border-bottom: 0 none;
}

.pageContentNavigation>ul>li>ul {
	display: none;
}

.pageContentNavigation>ul>li.expanded>ul{
	display: block;
}

.pageContentNavigation>ul>li.expanded>a {
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}

.pageContentNavigation>ul>li>ul>li>a {
	color: #222;
	padding:5px 10px 5px 25px;
	background: #60B3F1;
	display: block;
	font-size: .75em;
	border: 0 none;
	border-top:1px solid #89c4f0;
	text-decoration: none;
}

.pageContentNavigation>ul>li>ul>li>a:hover {
	color: #000;
}

.grid {
	display: block;
	width: 100%;
}

.gridHeader,.gridColumns,.gridContent,.gridFooter {
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	display: block;
}

.gridHeader {
	font-size:.875em;
	top: 0;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	border-bottom: 1px solid #bfbfbf;
}

.gridHeader>div{
	padding:6px 0;
}

.gridColumns {
	top:40px;
	cursor: pointer;
	width: 100%;
	display: block;
	border-top: 1px solid #bfbfbf;
	border-bottom: 1px solid #bfbfbf;
	font-size:.75em;
}

.gridColumns>div.grid1of10,.gridContentRecord>div.grid1of10 {
	text-align: center;
}

.gridColumns>div {
	overflow: hidden;
	border-right: 1px solid #bfbfbf;
	padding: 5px 0 3px 0;
}

.gridColumns>div:last-child {
	border-right: 0 none;
}

.sort-icon {
	float: right;
	width: 16px;
	height: 16px;
	margin: 0 3px;
	background: url(images/style.png) -32px 0 scroll no-repeat transparent;
}

.descending {
	background: url(images/style.png) -16px 0 scroll no-repeat transparent;
}

.ascending {
	background: url(images/style.png) 0 0 scroll no-repeat transparent;
}

.gridContent {
	bottom: 50px;
	top: 70px;
	overflow: auto;
	font-size:.75em;
}

.gridContentRecord {
	background:#fff;
	border-bottom: 1px solid #F0F0F0;
}

.gridContentRecord:hover {
	background: #f8f8f8;
}

.gridContentRecord>div {
	overflow: hidden;
	padding: 8px 0 6px 0;
}

.gridFooter {
	font-size:.875em;
	bottom: 0;
	padding: 6px 0 3px 0;
	border-top: 1px solid #d8d8d8;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

.gridFooter ul {
	float:right;
	list-style:none;
}

.gridFooter li {
	display:inline-block;
}

.gridFooter li a {
	display:inline-block;
}

.gridFooter span {
	display:inline-block;
	margin:8px 0 0 0;
}

.pageFooter {
	padding: 5px 0;
	bottom: 0;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.pageFooter ul li {
	display: inline;
}

.pageFooter ul {
	display: block;
	list-style: none;
}

.pageFooter a {
	text-decoration: none;
	color: #999;
	font-size: .75em;
}

.pageFooter a:hover {
	color: #333;
}